.header {
    margin: 0 auto;
	width: 1150px;  
    margin-bottom: 150px;
    display: flex;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 27px;
}
.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
}
.menu__item--active .menu__link {
    color: #FF5500;
}
.menu__item:last-child {
    margin-right: 0;
}
.menu__link {
    font-size: 14px;
}
.menu__link:hover {
    color: #FF3D00;
}
.contacts {
    font-style: normal;
    text-align: right;
    line-height: 1.1;
}
.contacts__phone {
    text-decoration: none;
    font-size: 26px;
}
.contacts__info {
    font-size: 13px;
    text-decoration: underline;
    color: #FF3D00;
}