.offers__content {
    margin-top: 28px;
    margin-left: 26px;
}
.offers__list {
    padding-top: 233px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.offers__item {
    min-height: 476px;
    width: 32%;
    background:#FFFFFF;
    border-radius: 5px;
    color: #666666;
    vertical-align: top;
}
.offers__item:last-child {
    margin-right: 0;
}
.offers__img {
    margin-top: 36px;
    margin-left: 29px;
}
.offers__title {
    font-size: 32px;
    font-weight: 700;
    font-weight: Bold;
    color: #000;
    text-align: left;
}
.offers__features {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.offers__feature:last-child {
    margin-right: 0;
    margin-left: 0;
}
.offers__feature-text{
    text-align: left;
    margin-top: 19px;
}
.offers__text {
    margin-top: 25px;
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    width: 306px;
}
.offers__bold--number {
    font-weight: bold;
    color:#000;
}
.button--light {
    margin-top: 28px;
    color:#FF5500;
    background: #fff;
    border: 2px solid #ff5500;
    margin-right: 115px;
}
.button--light:hover {
    background: #ff5500;
    color: #fff;
    transition: .5s;
}